@page
@model SuportFromMusics.Pages.Account.RegisterManager.CheckPasswordModel
@{
}
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>

<body>
    @if (Model.RandomPass != 0)
    {
        <p style="font-size: 24px" class="txt txt-success" align="center">
            @ViewBag.MessageForClient
        </p>
        <form method="post">
            <input type="hidden" id="HiddenPass" value="@Model.RandomPass" />
            <input type="hidden" value="@Model.Email" asp-for="@Model.Email" />
            <div class="mb-3 row">
                <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
                <div class="col-sm-10">
                    <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="@Model.Email">
                </div>
            </div>
            <div class="mb-3 row">
                <label for="inputPassword" class="col-sm-2 col-form-label">رمز عبور</label>
                <div class="col-sm-10">
                    <input type="number" class="form-control" id="inputPassword">
                </div>
            </div>
            <label for="btnSubmit" class="col-sm-2 col-form-label">رمز عبور</label>
            <div class="col-sm-10">
                <input type="submit" class="btn btn-primary" onclick="return CheckPass()" id="btnSubmit" value="ثبت ایمیل" />
            </div>
            <span id="ErrorPass" class="form-text">

            </span>
        </form>
        <div>
            <p>آیا آدرس ایمیلتان اشتباه است؟</p>
            <a class="btn btn-warning" asp-page="EnterEmail">
                وارد کردن دوباره ایمیل
            </a>
        </div>
    }
    else
    {
        <p style="font-size: 24px;color:red" align="center">
            @ViewBag.MessageForClient
        </p>
        <div>
            <a class="btn btn-warning" asp-page="EnterEmail">
                وارد کردن دوباره ایمیل
            </a>
        </div>
    }
</body>
<script>
    function CheckPass() {
        var numPass = document.getElementById('inputPassword').value;
        var RandomNum = document.getElementById('HiddenPass').value;
        if (numPass != RandomNum) {
            document.getElementById('ErrorPass').style.color = 'red';
            document.getElementById('ErrorPass').innerHTML = 'رمز عبور صحیح نیست';
            return false;
        }
    }
</script>